h1 { color: red; }
div { color: orange; }
body {
  background-image: url(https://images2.alphacoders.com/969/thumb-1920-96952.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
form { color: white }

small { color: white }

a { color: white }

details { color: white }

summary { color: white }

.br { margin-bottom: 1cm }


footer { color: white }
p { color: white }
