h1 { color: red; }
div { color: orange; }
body {
  background-image: url(https://media.discordapp.net/attachments/902352548881661983/1062134610579959868/000111.png?width=616&height=469);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
form { color: white }

small { color: white }

a { color: white }

details { color: white }

.br { margin-bottom: 1cm }

footer { color: white }